@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --theme-default: #f5f5dc;
  --theme-dark: #e5e5c2;
  --button-default: #cd7f4f;
  --button-dark: #a0522d;
  --text-color: #000000;
  --text-color-inverse: #ffffff;


  scrollbar-color: var(--button-default) var(--theme-default);
}

h1, h2, h3, h4, h5, h6, p, span, div, a {
  color: var(--text-color);
}

body {
  font-family: 'Nanum Myeongjo';
}


/* Webkit Browsers */

*::-webkit-scrollbar {
    width: auto; /* Width of the vertical scrollbar */
    height: auto; /* Height of the horizontal scrollbar */
}

*::-webkit-scrollbar-track {
    background: var(--theme-default)!important; /* Color of the scrollbar track */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--button-default)!important; /* Color of the scrollbar thumb/handle */
    border-radius: 10px; /* Rounded corners of the scrollbar thumb */
    border: 3px solid var(--theme-default)!important; /* Padding around the scrollbar thumb */
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--button-dark) !important; /* Color of the scrollbar thumb on hover */
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--button-dark)!important; /* Color of the scrollbar thumb on active */
}



.text-overflow-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description-box {
  white-space: normal;
  word-break: break-word; 
}
.description-box p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 12; /* Number of lines to show */
  overflow: hidden;
  text-overflow: ellipsis;
}

.short-description-box {
  white-space: normal;
  word-break: break-word; 
}
.short-description-box p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7; /* Number of lines to show */
  overflow: hidden;
  text-overflow: ellipsis;
}

.description-border {
    text-shadow: 
    -.5px -.5px 0 var(--theme-default), /* Top-left shadow */
    .5px -.5px 0 var(--theme-default),  /* Top-right shadow */
    -.5px .5px 0 var(--theme-default),  /* Bottom-left shadow */
    .5px .5px 0 var(--theme-default);   /* Bottom-right shadow */
}

.black-border {
  text-shadow: 
  0 .5px 0 #000;   /* Bottom-right shadow */
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 16px;
}

.grid-item {
  break-inside: avoid;
}


.no-scroll {
  overflow: hidden;
}

.react-flow__controls-button {
  background-color: var(--theme-default);

}

.react-flow__controls-button:hover {
  background-color: var(--theme-button);
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* Ensure it does not exceed the parent container's width */
  display: block; /* Make sure it behaves as a block element */
}

.truncate2 {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* Ensure it does not exceed the parent container's width */
  display: block; /* Make sure it behaves as a block element */
}

.drag-handle {
  cursor: grab;
}